<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbshop.bit.mapper.AdminMapper">

<resultMap type="com.bbshop.bit.domain.GoodsVO" id="goodsResultMap">
	<result property ="goods_num" column ="goods_num"/>
	<result property ="category" column ="category"/>
	<result property ="name" column ="name"/>
	<result property ="price" column ="price"/>
	<result property ="detail" column ="detail"/>
	<result property ="main_img" column ="main_img"/>
	<result property ="dtl_img1" column ="dtl_img1"/>
	<result property ="dtl_img2" column ="dtl_img2"/>
	<result property ="best" column ="best"/>
	<result property ="discount" column ="discount"/>
	<result property ="sales" column ="sales"/>
	<result property ="regdate" column ="regdate"/>
	<result property ="brand" column ="brand"/>
</resultMap>

<resultMap type="com.bbshop.bit.domain.Gd_GloveVO" id="gloveResultMap">
	<result property ="GLOVE_NUM" column ="GLOVE_NUM"/>
	<result property ="GOODS_NUM" column ="GOODS_NUM"/>
	<result property ="HAND" column ="HAND"/>
	<result property ="TAMING" column ="TAMING"/>
	<result property ="POSITION" column ="POSITION"/>
	<result property ="COLOR" column ="COLOR"/>
	<result property ="STOCK" column ="STOCK"/>
</resultMap>

<resultMap type="com.bbshop.bit.domain.Gd_BatVO" id="batResultMap">
	<result property ="BAT_NUM" column ="BAT_NUM"/>
	<result property ="GOODS_NUM" column ="GOODS_NUM"/>
	<result property ="MATERIAL" column ="MATERIAL"/>
	<result property ="GD_SIZE" column ="GD_SIZE"/>
	<result property ="COLOR" column ="COLOR"/>
	<result property ="STOCK" column ="STOCK"/>
</resultMap>
<resultMap type="com.bbshop.bit.domain.Gd_BallVO" id="ballResultMap">
	<result property ="BALL_NUM" column ="BALL_NUM"/>
	<result property ="GOODS_NUM" column ="GOODS_NUM"/>
	<result property ="USAGE" column ="USAGE"/>
	<result property ="sales_UNIT" column ="sales_UNIT"/>
	<result property ="STOCK" column ="STOCK"/>
</resultMap>
<resultMap type="com.bbshop.bit.domain.Gd_UniformVO" id="uniformResultMap">
	<result property ="UNIFORM_NUM" column ="UNIFORM_NUM"/>
	<result property ="TEAM" column ="TEAM"/>
	<result property ="GD_SIZE" column ="GD_SIZE"/>
	<result property ="GOODS_NUM" column ="GOODS_NUM"/>
	<result property ="HOME_AWAY" column ="HOME_AWAY"/>
	<result property ="STOCK" column ="STOCK"/>

</resultMap>
<resultMap type="com.bbshop.bit.domain.Gd_ShoesVO" id="shoesResultMap">
	<result property ="SHOES_NUM" column ="SHOES_NUM"/>
	<result property ="GOODS_NUM" column ="GOODS_NUM"/>
	<result property ="SPIKE" column ="SPIKE"/>
	<result property ="GD_SIZE" column ="GD_SIZE"/>
	<result property ="COLOR" column ="COLOR"/>
	<result property ="STOCK" column ="STOCK"/>
</resultMap>

<select id="getGoodsList" resultMap="goodsResultMap">

	select * from goods order by goods_num desc
	
</select>

<select id="getGloveList" resultMap="gloveResultMap">
	select * from gd_glove where goods_num=#{goods_num}

</select>

<select id="getBallList" resultMap="ballResultMap">
	select * from gd_ball where goods_num=#{goods_num}

</select>
<select id="getBatList" resultMap="batResultMap">
	select * from gd_bat where goods_num=#{goods_num}

</select>
<select id="getShoesList" resultMap="shoesResultMap">
	select * from gd_shoes where goods_num=#{goods_num}

</select>
<select id="getUniformList" resultMap="uniformResultMap">
	select * from gd_uniform where goods_num=#{goods_num}

</select>
<select id="getGoodsNum" parameterType="com.bbshop.bit.domain.GoodsVO" resultType="int">
	select goods_num from goods where name=#{name}
</select>
<insert id="insertGoods">
	<selectKey keyProperty="goods_num" resultType="int" order="BEFORE">
		select seq_goods.nextval FROM DUAL
	</selectKey>
	insert into goods (goods_num,category,name,price,detail,main_img,dtl_img1,dtl_img2,best,discount,sales,regdate,brand) 
	values(#{goods_num},#{category},#{name},#{price},#{detail},#{main_img},#{dtl_img1},#{dtl_img2},#{best},#{discount},#{sales},SYSDATE,#{brand})
	
</insert>

<insert id="insertGoodsGlove">
	<selectKey keyProperty="GLOVE_NUM" resultType="int" order="BEFORE">
		select seq_gd_glove.nextval FROM DUAL
	</selectKey>

	insert into gd_glove(glove_num,goods_num,hand,taming,position,color,stock)
	values(#{GLOVE_NUM},#{GOODS_NUM},#{HAND},#{TAMING},#{POSITION},#{COLOR},#{STOCK})
</insert>

<delete id ="deleteGoods" parameterType="hashMap">
	delete
	from goods
	where goods_num IN
	<foreach collection="delnum" item="delete" open="(" close=")" separator=",">
	#{delete.value}
	</foreach> 
</delete>

<select id="getFAQList" resultType="com.bbshop.bit.domain.FAQVO">
	select * from service_FAQ order by faq_num desc
</select>

<insert id="write_FAQ">
	<selectKey keyProperty="FAQ_NUM" resultType="int" order="BEFORE">
		select seq_faq.nextval FROM DUAL
	</selectKey>
	insert into service_FAQ(faq_num,faq_category,subject,content,regdate)
	values(#{FAQ_NUM},#{FAQ_CATEGORY},#{SUBJECT},#{CONTENT},SYSDATE)
</insert>

<delete id="deleteFAQ">
	delete from service_FAQ where faq_num IN
	<foreach collection="delnum" item="delete" open="(" close=")" separator=",">
	#{delete.value}
	</foreach>
</delete>

<select id="getFAQ" parameterType="int" resultType="com.bbshop.bit.domain.FAQVO">
	select * from service_FAQ where faq_num = #{faq_num}
</select>

<update id="ModifyFAQ" parameterType="com.bbshop.bit.domain.FAQVO">
	update service_FAQ set faq_category=#{FAQ_CATEGORY} , subject=#{SUBJECT} , content=#{CONTENT}
	where faq_num=#{FAQ_NUM}
</update>


<!-- 의정 - 후기관리 -->
<!-- 후기 목록 출력 -->
<select id="getReviewList" resultType="com.bbshop.bit.domain.ReviewVO">
	SELECT *
	FROM (
		SELECT /*+INDEX_DESC(review idx_review_regdate) */
			ROWNUM RN, REVIEW.*
		FROM REVIEW
<![CDATA[
		WHERE ROWNUM <= #{criteria.pageNum} * #{criteria.amount}
		AND RE_DATE > '19/01/01'
]]> 	
		<if test='score != null and score != 0'>
		WHERE SCORE = #{score}
		</if>
		)
<![CDATA[
	WHERE RN > #{criteria.pageNum}-1 * #{criteria.amount}
]]>
</select>
<!-- 후기 개수 -->
<select id="getReviewCount" resultType="int">
	SELECT COUNT(*)
	FROM REVIEW
	<if test='score != null and score != 0'>
	WHERE SCORE = #{score}
	</if>
</select>
<!-- 후기 목록에 출력할 회원 아이디 -->
<select id="getID" resultType="String">
	SELECT MEMBER_ID
	FROM SH_USER
	WHERE USER_KEY = #{user_key}
</select>

<!-- 의정 - 회원관리 - 회원탈퇴 -->
<!-- 휴면유저 불러오기 -->
<select id="getDormantUsers" resultType="com.bbshop.bit.domain.DormantUserVO">
	SELECT rownum rn, x.*
	FROM (
		SELECT u.user_key, u.member_id, u.grade, u.flag, w.wi_date, w.reason
		FROM sh_user u, withdrawal w
		WHERE u.user_key = w.user_key
		ORDER BY w.wi_date desc
		)x
	WHERE rownum between (#{criteria.pageNum}*#{criteria.amount}-4) and (#{criteria.pageNum}*#{criteria.amount})
</select>
<!-- 휴면> 탈퇴 -->
<update id="modifyFlag">
	update sh_user set flag = 2
	where user_key = #{user_key}
</update>

<select id="getAllOrders" resultType="com.bbshop.bit.domain.OrderVO">
	SELECT * 
	FROM shop_order 
	ORDER BY or_date DESC
</select>

<select id="getUserId" resultType="String">
	SELECT member_id
	FROM sh_user
	WHERE user_key = #{user_key}
</select>

<select id="getRtrnExchnOrderGD" resultType="com.bbshop.bit.domain.Order_GDVO">
	SELECT *
	FROM order_gd
	WHERE rtrn_exchn = 1 OR rtrn_exchn = 2
	ORDER BY rtrn_exchn_date DESC
</select>

<select id="getRtrnExchnMemberId" resultType="String">
	SELECT member_id 
	FROM sh_user WHERE user_key = 
		(
        SELECT user_key FROM shop_order 
        	WHERE order_num = 
        	(
            	SELECT order_num FROM order_gd 
            	WHERE or_gd_key = #{or_gd_key}
            )
      	)
</select>

<select id="getShipDate" resultType="Date">
	SELECT ship_date 
	FROM shop_order 
	WHERE order_num = #{order_num}
</select>

<select id="getAllMembers" resultType="com.bbshop.bit.domain.MemberVO">
	SELECT *
	FROM sh_user
	ORDER BY caution DESC
</select>

</mapper>