<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.bbshop.bit.mapper.CommunityMapper">

	<insert id="insertPost" parameterType="com.bbshop.bit.domain.CommunityVO">
		<selectKey keyProperty="SEQ_BOARD" resultType="int" order="BEFORE">
			select seq_board.nextval FROM DUAL
		</selectKey>

		INSERT INTO community(board_num, writer, user_key, team_name, title, board_content, uploadFile) 
		VALUES 
		(SEQ_BOARD.nextval, #{WRITER}, 1, #{TEAM_NAME}, #{TITLE}, #{BOARD_CONTENT}, #{UPLOADFILE})
		 
	</insert>
	
	<select id="getNickname" parameterType="int" resultType="String">
		SELECT nickname 
		FROM sh_user 
		WHERE user_key = #{USER_KEY}
	</select>
	
	<select id="getPost" parameterType="Long" resultType="com.bbshop.bit.domain.CommunityVO">
		SELECT team_name, title, board_num, writer, regdate, hit, reply_num, board_content, uploadFile 
		FROM community 
		WHERE board_num = #{BOARD_NUM}
	</select>
	
	
	
</mapper>