<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbshop.bit.mapper.GoodsMapper">

<!-- 페이징 O -->
<!-- 상품 목록, sorting값에 따라 동적쿼리 -->
<!-- 전달받은 hashmap[pagingVO(pageNum,amount), category, sorting] -->
<select id="getGoodsList" parameterType="hashmap" resultType="com.bbshop.bit.domain.GoodsVO">
	SELECT *
	FROM (
	<choose>
		<when test="sorting == 'new'">
		SELECT 
		</when>
		<when test="sorting == 'best'">
		SELECT /*+INDEX_DESC(goods idx_goods_best) */
		</when>
		<when test="sorting == 'lowPrice'">
		SELECT /*+INDEX_ASC(goods idx_goods_price) */
		</when>
		<when test="sorting == 'highPrice'">
		SELECT /*+INDEX_DESC(goods idx_goods_price) */
		</when>
	</choose>
			rownum rn, g.goods_num, g.name, g.main_img, g.price, g.best, g.regdate, gg.position, gg.hand, g.brand
		FROM goods g, gd_glove gg
      	WHERE g.goods_num = gg.goods_num 
		<if test='pagingVO.type == "N"'>
			AND name like '%'||#{pagingVO.keyword}||'%'
		</if>
		<if test='positions.size != 0'>
			AND position IN 
			<foreach item="val" index="index" collection="positions" open="(" separator="," close=")">
				#{val}
			</foreach>
		</if>
		<if test='hands.size != 0'>
			AND hand IN 
			<foreach item="val" index="index" collection="hands" open="(" separator="," close=")">
				#{val}
			</foreach>
		</if>
		<if test='brands.size != 0'>
			AND brand IN 
			<foreach item="val" index="index" collection="brands" open="(" separator="," close=")">
				#{val}
			</foreach>
		</if>
<![CDATA[
			AND	rownum <= #{pagingVO.pageNum, jdbcType=INTEGER} * #{pagingVO.amount, jdbcType=INTEGER} 
			AND category = #{category, jdbcType=INTEGER}
			AND price > #{min_amount, jdbcType=INTEGER}
			AND price < #{max_amount, jdbcType=INTEGER}
]]>
		<choose>
			<when test="sorting == 'new'">
			ORDER BY regdate desc
			</when>
			<when test="sorting == 'best'">
<![CDATA[	AND best >= 0	]]>
			</when>
		</choose>	
		)
<![CDATA[
	WHERE rn > (#{pagingVO.pageNum, jdbcType=INTEGER}-1) * #{pagingVO.amount, jdbcType=INTEGER}
]]>	
</select>

<!-- 카테고리 별, goods 데이터 개수 */ -->
<select id="getTotalCount" parameterType="hashmap" resultType="int">
	select count(*) from goods where category = #{category, jdbcType=INTEGER}
</select>



<!-- 상품 조회 -->
<select id="getGoodsInfo" resultType="com.bbshop.bit.domain.GoodsVO">
	select * from goods where goods_num = #{goods_num}
</select>


</mapper>