<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbshop.bit.mapper.MyPageMapper">

	<!-- 적립금 resultMap -->
	<resultMap id="savingsVO" type="com.bbshop.bit.domain.SavingsVO">
		<result property="or_date" column="sa_date" />
		<result property="or_savings" column="savings" javaType="java.lang.Long" />
		<result property="or_num" column="order_num" />
		<result property="savings_used" column="savings_used" />
		<result property="order_items" column="order_items" />
	</resultMap>

	<!-- 후기 resultMap -->
	<resultMap id="reviewVO" type="com.bbshop.bit.domain.ReviewVO" >
		<result property="rv_num" column="rv_num" />
		<result property="title" column="title" />
		<result property="re_date" column="re_date" />
		<result property="score" column="score" />
	</resultMap>
	
	<select id="getTotalCount" resultType="java.lang.Long">
		SELECT count(*) 
		FROM ${table}
		WHERE user_key = #{user_key}
	</select>

	<select id="getSavingsList" resultMap="savingsVO">
		<![CDATA[
			SELECT *
			FROM (
	    		SELECT rownum rn, sa_date, savings, order_num, savings_used, order_items
	    		FROM savings 
	    		WHERE user_key = #{key}
	            ORDER BY order_num desc )
	     	WHERE rn > (#{pagingVO.pageNum} - 1) * #{pagingVO.amount} 
	     		AND rn <= #{pagingVO.pageNum} * #{pagingVO.amount}
     	]]>
	</select>
	
	<insert id="insertSavings">
		INSERT INTO savings
		VALUES (#{savings.or_num}, sysdate, #{savings.or_savings}, #{user_key}, #{savings.savings_used}, #{savings.order_items} )
	</insert>

	<select id="getOrdersList" resultType="com.bbshop.bit.domain.OrderVO">
		<![CDATA[	
     		SELECT *
     		FROM
     			( SELECT rownum rn, s.*
       			  FROM shop_order s
       			  WHERE user_key = #{key}
            	  		AND cancel = 0
       			  ORDER BY order_num desc )
	     	WHERE rn > (#{pagingVO.pageNum} - 1) * #{pagingVO.amount} 
	     		AND rn <= #{pagingVO.pageNum} * #{pagingVO.amount}
		]]>
	</select>
	
	<select id="getOrdersListStss" resultType="com.bbshop.bit.domain.OrderVO">
        SELECT *
        FROM
            ( SELECT rownum rn, order_num, or_date, items, pymntamnt, stts 
              FROM shop_order 
              WHERE user_key = #{key}
            	  AND cancel = 0
			<if test='stts_list != null and stts_list.size != 0'>
				  AND stts IN
				<foreach item="item" index="index" collection="stts_list" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</if>
       		  ORDER BY order_num desc )
       	<![CDATA[
        WHERE rn > (#{pagingVO.pageNum} - 1) * #{pagingVO.amount}
            AND rn <= #{pagingVO.pageNum} * #{pagingVO.amount}
		]]>	
	</select>
		
	<select id="getReviewList" resultMap="reviewVO">
		    SELECT rownum rn, rv_num, title, re_date, score
     		FROM	
				( SELECT rv_num, title, re_date, score
			  	  FROM review
			   	  WHERE user_key = #{key}
       		  	  ORDER BY rv_num desc )
       		<if test='pagingVO.pageNum != 0'>
			<![CDATA[	       	
	     	WHERE rv_num <= ${total} - (#{pagingVO.pageNum} - 1) * #{pagingVO.amount} 
	     		AND rv_num > ${total} - #{pagingVO.pageNum} * #{pagingVO.amount}
			]]>
			</if>
	</select>
	
	<select id="getOnetooneList" resultType="com.bbshop.bit.domain.OnetooneVO">
     		SELECT *
     		FROM
     			( SELECT *
       			  FROM onetoone 
       			  WHERE user_key = #{key}
       			  ORDER BY one_one_num desc )
       		<if test='pagingVO.pageNum != 0'>
			<![CDATA[	       	
	     		WHERE one_one_num <= ${total} - (#{pagingVO.pageNum} - 1) * #{pagingVO.amount} 
	     			AND one_one_num > ${total} - #{pagingVO.pageNum} * #{pagingVO.amount}
			]]>
			</if>
	</select>
	
	<select id="getQnaList" resultType="com.bbshop.bit.domain.GoodsQnaVO">
     		SELECT *
     		FROM
     			( SELECT *
       			  FROM qna 
       			  WHERE user_key = #{key}
       			  ORDER BY qna_num desc )
       		<if test='pagingVO.pageNum != 0'>
			<![CDATA[	       	
	     		WHERE qna_num <= ${total} - (#{pagingVO.pageNum} - 1) * #{pagingVO.amount} 
	     			AND qna_num > ${total} - #{pagingVO.pageNum} * #{pagingVO.amount}
			]]>
			</if>
	</select>
	
	<!-- 전체 주문 리스트 -->
	<select id="getAllOrdersList" resultType="com.bbshop.bit.domain.OrderVO">
		SELECT savings, stts
		FROM shop_order
		WHERE user_key = #{key}
	</select>

	<!-- 주문 취소 -->
	<update id="cancelOrder">
		UPDATE shop_order 
		SET stts = 4 
		WHERE order_num = #{order_num}
	</update>
	
	<!-- 회원 정보 관련 쿼리-->
	<select id="getUserInfo" resultType="com.bbshop.bit.domain.MemberVO">
		SELECT *
		FROM sh_user
		WHERE user_key = #{key}
	</select>
	
	<update id="updateUserInfo">
		UPDATE sh_user 
		SET 
			name = #{NAME}, 
			member_pw = #{MEMBER_PW},
			phone = #{PHONE},
			nickname = #{NICKNAME},
			moddate = sysdate
		WHERE user_key = #{USER_KEY}
	</update>
	
	<!-- 회원 삭제 : 플래그를 1로 수정해서 휴면 계정 처리한다. -->
	<update id="deleteUserInfo">
		UPDATE sh_user
		SET
			flag = 1
		WHERE user_key = #{key}
	</update>
	
	<!-- 배송지 정보 관련 쿼리 -->
	<insert id="insertAddrInfo">
		INSERT into address 
		VALUES (#{user_key}, #{zc_key}, #{name}, #{addr}, #{contact}, #{num}, #{roadAddress})
	</insert>

	<select id="getAddrList" resultType="com.bbshop.bit.domain.AddrVO">
		SELECT *
		FROM address
		WHERE user_key = #{key}
		ORDER BY num
	</select>
	
	<update id="updateAddrInfo">
		UPDATE address
		SET
			zc_key = #{zc_key},
			name = #{name},
			addr = #{addr},
			contact = #{contact},
			roadAddress = #{roadAddress}
		WHERE user_key = #{user_key} AND num = #{num}
	</update>
	
	<delete id="deleteAddrInfo">
		DELETE 
		FROM address
		WHERE user_key = #{key} AND num = #{num}
	</delete>
	
	<!-- 회원 추가 정보 -->
	<select id="getDetail" resultType="com.bbshop.bit.domain.MoreDetailsVO">
		SELECT *
		FROM u_moredetail
		WHERE user_key = #{key}
	</select>
	
	<update id="updateDetailInfo">
		UPDATE u_moredetail
		SET
			team = #{moreDetailsVO.TEAM},
			position = #{moreDetailsVO.POSITION},
			brand1 = #{moreDetailsVO.BRAND1},
			brand2 = #{moreDetailsVO.BRAND2},
			brand3 = #{moreDetailsVO.BRAND3}
		WHERE
			user_key = #{key}
	</update>
	
	<!-- 닉네임 중복 확인 -->
	<select id="nickCheck" resultType="int">
		SELECT count(*) 
		FROM sh_user
		WHERE nickname = #{nickname}
	</select>
	
</mapper>