<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bbshop.bit.mapper.MyPageMapper">

	<resultMap id="reviewVO" type="com.bbshop.bit.domain.ReviewVO" >
		<result property="rv_num" column="rv_num" />
		<result property="title" column="title" />
		<result property="re_date" column="re_date" />
		<result property="re_hit" column="re_hit" />
	</resultMap>

	<select id="getReviewList" resultMap="reviewVO">
		select rv_num, title, re_date, re_hit
		from ${category} where user_key = #{key }
	</select>

</mapper>