
*.class
target/classes/com/bbshop/bit/service/GoodsServiceImpl.class
target/test-classes/com/bbshop/bit/service/GoodsServiceTests.class
target/m2e-wtp/web-resources/META-INF/maven/com.bbshop/bit/pom.properties
target/classes/com/bbshop/bit/service/GoodsServiceImpl.class
target/classes/com/bbshop/bit/service/GoodsService.class
target/classes/com/bbshop/bit/mapper/GoodsMapper.xml
target/classes/com/bbshop/bit/mapper/GoodsMapper.class
target/classes/com/bbshop/bit/domain/GoodsVO.class
target/classes/com/bbshop/bit/controller/GoodsController.class
target/m2e-wtp/web-resources/META-INF/maven/com.bbshop/bit/pom.properties
