<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.bbshop.bit.cart.mapper.CartMapper">

 <resultMap type="com.bbshop.bit.cart.domain.Cart_PDVO" id="CartResultMap">
	<result property ="GOODS_NUM" column ="GOODS_NUM"/>
	<result property ="PRICE" column ="PRICE"/>
	<result property ="QNTTY" column ="QNTTY"/>
	<result property ="GD_CT_KEY" column ="GD_CT_KEY"/>
	<result property ="SAVINGS" column ="SAVINGS"/>
	<result property ="STOCK_STTS" column ="STOCK_STTS"/>
	<result property ="USER_KEY" column ="USER_KEY"/>
</resultMap>

<resultMap type="com.bbshop.bit.cart.domain.GoodsVO" id="GoodsResultMap">
	<result property = "GOODS_NUM" column ="GOODS_NUM"/>
	<result property = "CATEGORY" column ="CATEGORY"/>
	<result property = "NAME" column ="NAME"/>
	<result property = "STOCK" column ="STOCK"/>
	<result property = "DISCOUNT" column="DISCOUNT"/>
	<result property = "SALES" column="SALES"/>
	<result property = "MAIN_IMG" column ="MAIN_IMG"/>
	<result property = "BRAND" column ="BRAND"/>
</resultMap>


<select id = "getCartList" resultMap="CartResultMap">
	select * from cart_gd where user_key =#{user_key}
</select>


<select id ="getGoods" resultType ="com.bbshop.bit.cart.domain.GoodsVO">
	select goods_num,category,name,stock,main_img,brand,sales,discount from goods where goods_num =#{goodsnum}

</select>



</mapper>